@font-face {
    font-family: 'gilroyextrabold';
    src: url('../fonts/ofont.ru_gilroy-webfont.woff2') format('woff2'),
         url('../fonts/ofont.ru_gilroy_extrabold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'gilroylight';
    src: url('../fonts/ofont.ru_gilroy_light-webfont.woff2') format('woff2'),
         url('../fonts/ofont.ru_gilroy_light-webfont.woff');
    font-weight: 300;
    font-style: normal;
}
html{
  box-sizing: border-box;
}
*, *::before, *::after{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
  background-color: #ffffff;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.hide_it{
  display: none;
}
.visibility_hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;

}
.container{
  width: 1200px;
  padding: 0px 20px;
  margin: 0px auto;
}

.main_header{
  width: 100%;
  min-height: 299px;
  padding: 0px 60px;
  padding-top: 33px;
  margin-top: -52px;
  background-color:#f7e296;
}
.catalog_page .main_header{
    min-height: 186px;
}
.main_header_logo,
.main_footer_logo{
  font-family: 'gilroyextrabold';
  font-size: 50px;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  color:#000000;
  display: block;
  padding-top: 20px;
  padding-bottom: 37px;
  margin-top: 5px; /*подбор PP, в макете верхний отступ 20px*/
  margin-left: 57px; /*подбор PP, в макете 59-60*/
}
.user_navigation{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 27px;
  height: 49px;
}
.user_navigation form{
  width:540px;
  display: flex;
}

.user_actions_navigation{
  display: flex;
}
.user_navigation .search_icon,
.auth_navigation .login_link,
.user_actions_navigation .compare_link,
.user_actions_navigation .cart_link{
  position: relative;

}
.user_navigation .search_field{
  border: none;
  background-color: transparent;
  width: 317px;
  height: 47px;
  box-sizing: content-box;
  padding: 0;
  padding-left: 39px;
}
.user_navigation .search_icon::before{
  content: "";
  background-image: url(../img/search.svg);
  width: 16px;
  height: 16px;
  position: absolute;
  top:-7px;
  left:3px;
}
.user_navigation .search_field::placeholder{
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.3);
}
.search_field:hover::placeholder{
  color: rgba(0, 0, 0, 0.6);
}
.search_field:focus::placeholder{
  opacity: 0;
}
.user_navigation .search_field:active,
.user_navigation .search_field:focus{
  border-bottom: 2px solid #000000;
  color: rgb(0, 0, 0);
}
.search_field:active + .search_button,
.search_field:focus + .search_button{
  opacity: 1;
}
.user_navigation .search_button{
  background-color: transparent;
  border: 2px solid #000000;
  width: 85px;
  height: 49px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.15px;
  text-align: center;
  opacity: 0;
}
.search_button:hover{
  background-color: #000000;
  color:#ffffff;
}
.search_button:active,
.search_button:focus{
  background-color: #000000;
  color:rgba(255,255,255,0.3);
}
.auth_navigation{
  width: 287px;
  display: flex;
}
.auth_navigation .login_link{
    padding-left: 27px;
    width: 178px;
}
.auth_navigation .login_link::before{
  content: "";
  background-image: url(../img/user.svg);
  width: 13px;
  height: 12px;
  position: absolute;
  top:10px;
  left:0px;
}
.user_actions_navigation .compare_link{
  width: 130px;
  padding-left: 20px;
}
.user_actions_navigation .compare_link::before{
  content: "";
  background-image: url(../img/compare.svg);
  width: 10px;
  height: 10px;
  position: absolute;
  top:10px;
  left:0px;
}
.user_actions_navigation .cart_link{
  width: 82px;
  padding-left: 24px;
}
.user_actions_navigation .cart_link::before{
  content: "";
  background-image: url(../img/cart.svg);
  width: 12px;
  height: 12px;
  position: absolute;
  top:10px;
  left:0px;
}

.site_navigation a,
.services_navigation a{ /*свойства общие для заголовков меню верхнего уровня*/
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 3.6px;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}
.site_navigation_submenu a,/*свойтва общие для большинства ссылок*/
.auth_navigation a,
.user_actions_navigation a{
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.15px;
  text-align: left;
  text-transform: none;
  color: #000000;
}
.site_navigation_catalog{
  position: relative;
}
.site_navigation_submenu{
  width: 1160px;
  height: 167px;
  position: absolute;
  top:23px;
  margin-left:-60px;
  padding-left: 60px;
  padding-top: 25px;
  background-color: #f7e296;
  display: none;
}
.site_navigation_catalog{
  width: 540px;
}
.site_navigation_catalog>a::before{
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(../img/plus.svg);
  opacity: 0.3;
  position: absolute;
  top:6px;
  left: 230px;
}
.site_navigation_catalog>a:hover+.site_navigation_submenu{
  display: flex;
}
.site_navigation_submenu:hover{
  display: flex;
}
.site_navigation_submenu .foto_video_gadgets{
  width: 239px;
}
.site_navigation_submenu .personal_gadgets{
  width: 201px;
}

.vr_link a, /*уникальные свойства для заголовков меню нижнего уровня*/
.bracelet_link a,
.drone_link a,
.monopod_link a,
.watch_link a,
.camera_link a{
  line-height: 36px;
}
.slider{
  min-width: 100%;
  min-height: 486px;
  padding-left: 90px;
  padding-right: 60px;
  margin-top: -150px;
  margin-bottom: 106px;
  display: flex;
  justify-content: space-between;
}
.slider>input{
  display: none;
}
.slider_img{
  /*position: relative;*/
}
.slider_img_monopod{
  width: 384px;
  height: 486px;
  /*position: absolute;
  top: 0;
  left: 0;*/
  opacity: 1;
}
.slider_img_bracelet{
  width: 345px;
  height: 485px;
  /*position: absolute;
  top: 0;
  left: 0;*/
  opacity: 0;
}
.slider_img_drone{
  width: 526px;
  height: 334px;
/*position: absolute;
  top: 0;
  left: 0;*/
  opacity: 0;
}
.slider_content{
  /*position: relative;*/
  margin-left: 50px;
  width: 466px;
}
.slider_content .slogan{
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 700;
  letter-spacing: 0.47px;
  text-align: left;
  color: #000000;
  margin: 0;
}
.slider_content .description{
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.15px;
  text-align: left;
  color: #464646;
}
.slider_content .features td{
  font-family: 'gilroylight', Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: 0.36px;
  text-align: left;
  color: #000000;
  width: 140px;
}
.slider_content .features th{
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 0.13px;
  text-align: left;
  color: #464646;
}
.slider_controls{
  position: absolute;
  top:200px;
  right: 50px;
}
.slider_controls>label::before{
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  border: 1px solid #000000;
}
.delivery h2,
.warranty h2,
.credit h2,
.info h2,
.contacts h2{
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: 0.47px;
  text-align: left;
  color: #000000;
  margin: 0;
}
.popular_items_list{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 84px;
}
.popular_items_list>li{
  position: relative;
  width: 160px;
}
.popular_items_list h3,
.feedback_form label{
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.18px;
  text-align: left;
  color: #000000;
}
.popular_items_list a::before{
  content: "";
  display: block;
  width: 160px;
  height: 160px;
  background-color: #f0c52e;
  opacity: 0.5;
}
.popular_items_list a:hover > .popular_items_list a::before{
  opacity: 1;
}
.popular_items_list .vr a::after{
  content: "";
  display: block;
  width: 97px;
  height: 55px;
  background-image: url(../img/popular-1.svg);
  position: absolute;
  top:52px;
  left:31px;
}
.popular_items_list .monopod a::after{
  content: "";
  display: block;
  width: 86px;
  height: 117px;
  background-image: url(../img/popular-2.svg);
  position: absolute;
  top:41px;
  left:38px;
}
.popular_items_list .camera a::after{
  content: "";
  display: block;
  width: 71px;
  height: 87px;
  background-image: url(../img/popular-3.svg);
  position: absolute;
  top:38px;
  left:49px;
}
.popular_items_list .bracelet a::after{
  content: "";
  display: block;
  width: 107px;
  height: 65px;
  background-image: url(../img/popular-4.svg);
  position: absolute;
  top:50px;
  left:28px;
}
.popular_items_list .watch a::after{
  content: "";
  display: block;
  width: 56px;
  height: 98px;
  background-image: url(../img/popular-5.svg);
  position: absolute;
  top:32px;
  left:55px;
}
.popular_items_list .drone a::after{
  content: "";
  display: block;
  width: 132px;
  height: 69px;
  background-image: url(../img/popular-6.svg);
  position: absolute;
  top:49px;
  left:13px;
}
.services{
  min-height: 388px;
  background-image: linear-gradient(to bottom, transparent 100px, #e5e5e5 100px);
  margin-bottom: 94px;
}

.delivery_companies li{
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.18px;
  text-align: left;
  color: #000000;
}
.services_navigation a,
.info a,
.contacts a{
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 3.6px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.services .services_navigation{
  border-right: 7px solid #000000;
}
.info a{
  display: block;
  height: 40px;
  width: 260px;
  line-height: 40px;
}
.main_footer{
  min-height: 323px;
  background-color: #464646;
}
.main_footer_logo{
  color: rgb(255, 198, 0);
  margin-left: 0px;
  margin-right: 660px;
  padding: 0;
}

.main_footer_navigation a{
  color:rgba(255, 255, 255, 0.7);
}
.footer_navigation a,
.footer_address,
.footer_call{
  color:#ffffff;
}
.feedback_form input[placeholder],
.feedback_form textarea[placeholder] {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  text-align: left;
  color: rgba(70, 70, 70, 0.4);
}
/*feedback popup*/
.popup_feedback{
  width: 960px;
  margin: auto;
  min-height: 553px;
  padding: 22px;
  box-shadow: 0px 10px 20px 0 rgba(4,6,6,0.2);
}
.feedback_form{
  width: 760px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#user_name_field,
#user_email_field{
  width: 360px;
  height: 50px;
  border: none;
  background-color: #f2f2f2;
  padding-left: 20px;
}
#user_message_field{
  width: 760px;
  border: none;
  background-color: #f2f2f2;
  padding: 20px;
}

.popup_map{
  width: 960px;
  height: 559px;
  background-image: url(../img/map-big-jpg.jpg);
  box-shadow: 0px 10px 20px 0 rgba(4,6,6,0.2);
  margin: auto;
}

/*Index - interactive links*/

.auth_navigation a:visited,
.user_actions_navigation a:visited,
.site_navigation a:visited{
  color:#000000;
}
.auth_navigation a:hover,
.user_actions_navigation a:hover,
.site_navigation a:hover{
  color:rgba(0, 0, 0, 0.6);
}
.auth_navigation a:focus,
.auth_navigation a:active,
.user_actions_navigation a:focus,
.user_actions_navigation a:active,
.site_navigation a:focus,
.site_navigation a:active{
  color:rgba(0, 0, 0, 0.3);
}
.popular_items_list h3:focus,
.popular_items_list h3:active{
  color:rgba(0, 0, 0, 0.3);
}
.info a{
}
.main_footer_navigation a:visited{
  color:rgba(255, 255, 255, 0.7);
}
.main_footer_navigation a:hover{
  color:#ffffff;
}
.main_footer_navigation a:focus,
.main_footer_navigation a:active{
  color:rgba(255, 255, 255, 0.3);
}
.footer_navigation a:hover{
  color:rgba(255, 255, 255, 0.6);
}
.footer_navigation a:focus,
.footer_navigation a:active{
  color:rgba(255, 255, 255, 0.3);
}
/*------------------------------------------------Catalog page-------*/
.catalog_page .main_header_logo:hover{
  color:#666666;
}
.catalog_page .main_header_logo:focus{
  color:#b2b2b2;
}
.catalog_page .main_header{
  margin-bottom: 38px;
}
.catalog_page h1{
  margin: 0;
  margin-left: 60px;
  margin-bottom: 20px;
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: 0.47px;
  text-align: left;
  color: #000000;
}
.path_navigation{
  width: 384px;
  margin-left: 60px;
  margin-bottom: 43px;
  display: flex;
  justify-content: space-between;
}
.path_navigation a{
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.14px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
  position: relative;
}
.path_navigation .catalog_link a::before,
.path_navigation .monopods_link a::before{
  content: "";
  width: 4px;
  height: 7px;
  background-image: url(../img/nav-arrow.svg);
  position: absolute;
  top: 6px;
  left: -22px;
}

.heading_style{
  background-color: rgba(0,0,0,0.08);
  height: 70px;
}
.catalog{
  background-image: linear-gradient(to right, rgba(0,0,0,0.08) 50%, transparent 50%);
  margin-top: -70px;
}
.catalog .container{
  display: flex;
}
.catalog_filters{
  width: 328px;
  min-height: 1287px;
  padding-left: 60px;
  padding-right: 68px;
}
.filter_title{
  margin:0px;
  margin-top: 23px;
  margin-bottom: 92px;
}
.set_filter>fieldset{
  margin: 0;
  padding: 0;
  margin-bottom: 41px;
}
.set_filter legend{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 17px;
  border-top: 2px solid #000000;
}
.set_price{
  -webkit-appearance: none;
  height: 2px;
  background-color: #dbdbdb;
  width: 100%;
  position: relative;
}
.set_price::before{
  content:"";
  display: block;
  width:20px;
  height:22px;
  background-image: url(../img/filter-button.svg);
  cursor:pointer;
  position: absolute;
  top:-10px;
  left: -8px;
}
.set_price::-webkit-slider-thumb{
  -webkit-appearance: none;
    width:20px;
    height:22px;
    background-image: url(../img/filter-button.svg);
    cursor:pointer;
}
.filter_color_option label,
.filter_bluetooth_option label{
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
  letter-spacing: 0.14px;
  text-align: left;
  color: #000000;
  position: relative;
  padding-left: 39px;
}
.filter_color_option label::before{
  content:"";
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
  position: absolute;
  top:-6px;
  left: 0;
}
.filter_input_checkbox:checked~label::before{
  background-image: url(../img/checkbox-on.svg);
}
.filter_bluetooth_option label::before{
  content:"";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
  position: absolute;
  top:-6px;
  left: 0;
}
.filter_input_radio:checked~label::before{
  background-image: url(../img/radio-on.svg);
}
.catalog_content{
  background-image: linear-gradient(to bottom,  #ebebeb 70px, white 70px);
  width: 832px;

}
.catalog_content_sort{
  display: flex;
}
.catalog_content_list{
  background-color: #ffffff;
  padding-left: 73px;
  padding-top: 71px;
}
.sort_by{
  display: flex;
  height: 70px;
}
.catalog_content_list{
  background-color: #ffffff;
}


.filter_title,
.sort_title,
.catalog_veiw_navigation .prev_page,
.catalog_veiw_navigation .next_page,
.catalog_veiw_pages a{
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}
.set_filter fieldset{
  border:none;
}
.set_filter legend,
.items h3{
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  text-align: left;
  color: #000000;
}
.sort_by a{
  color: rgba(0, 0, 0, 0.3);
}
.sort_by .active_status{
  color: rgb(0, 0, 0);
}
.items{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.item{
  width: 360px;
  min-height: 456px;
}
.item_price{
  font-family: 'gilroylight';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  text-align: right;
  color: #464646;
}
.item_to_cart{
  width: 200px;
  height: 40px;
  display: block;
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.item_to_compare{
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 36px;
  font-weight: 300;
  letter-spacing: 0.13px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}
.item_new{
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.7px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding-top:18px;
}
.catalog_veiw_pages a{
    color: rgba(0, 0, 0, 0.3);
}
.catalog_veiw_pages .active_page{
    color: rgb(0, 0, 0);
}


/*Catalog - interactive links*/
.path_navigation a:visited{
  color: rgba(0, 0, 0, 0.3);
}
.path_navigation a:hover{
  color: rgba(0, 0, 0, 0.6);
}
.path_navigation a:focus,
.path_navigation a:active{
  color: rgba(0, 0, 0, 0.1);
}
/*.sort_by a:visited{
  color: rgba(0, 0, 0, 0.3);
}*/
.sort_by a:hover{
  color: rgba(0, 0, 0, 0.6);
}
.sort_by a:focus,
.sort_by a:active{
  color: rgb(0, 0, 0);
}
.items .item_to_compare:visited{
  color: rgba(0, 0, 0, 0.5);
}
.items .item_to_compare:hover{
  color: rgb(0, 0, 0);
}
.items .item_to_compare:focus,
.items .item_to_compare:active{
  color: rgba(0, 0, 0, 0.2);
}

.catalog_veiw_pages a:visited{
    color: rgba(0, 0, 0, 0.3);
}
.catalog_veiw_pages a:hover{
    color: rgba(0, 0, 0, 0.6);
}
.catalog_veiw_pages a:focus,
.catalog_veiw_pages a:active{
    color: rgb(0, 0, 0);
}

.catalog_veiw_navigation .prev_page:focus,
.catalog_veiw_navigation .prev_page:active,
.catalog_veiw_navigation .next_page:focus,
.catalog_veiw_navigation .next_page:active{
  color: rgba(0, 0, 0, 0.3);
}

.catalog_page .main_footer_logo:hover{
  color: rgba(255, 198, 0, 0.6);
}
.catalog_page .main_footer_logo:focus,
.catalog_page .main_footer_logo:active{
  color: rgba(255, 198, 0, 0.3);
}


/*Flexbox*/
html,body{
  min-width: 1200px;
  min-height: 2795px;
}


.site_navigation>ul{
  display: flex;
}

.site_navigation_delivery{
  width: 160px;
}
.site_navigation_warranty{
  width: 220px;
}
.site_navigation_contacts{
  width: 120px;
}
.services_container{
  display: flex;
}

.services .services_navigation{
  min-height: 319px;
  padding-top: 80px;
}
.services .delivery,
.services .warranty,
.services .credit{
  width: 875px;
  padding-top: 75px;
  padding-left: 117px;
  min-height: 319px;
}
.brands>ul{
  display: flex;
  justify-content: space-between;
  margin-bottom: 93px;
}
.info_container{
  display: flex;
  justify-content: space-between;
  min-height: 648px;
}
.info{
  width: 460px;
}
.contacts{
  width: 560px;
}
.main_footer .container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 65px;
}
.main_footer_navigation{
  width: 320px;
  display: flex;
  justify-content: flex-end;
}
.footer_navigation .services_navigation{
  display: flex;
  justify-content: space-between;
  min-width: 430px;

}
.footer_navigation{
  margin-top: 34px;
}
.footer_address{
  margin-top: 32px;
  margin-right: 170px;
  margin-left: 3px;
}
.footer_call{
  min-width: 350px;
  margin-top: 32px;
  margin-left: auto;
}
.footer_social>li{
  display: inline-block;
}
