@font-face {
    font-family: 'gilroyextrabold';
    src: url('../fonts/ofont.ru_gilroy-webfont.woff2') format('woff2'),
         url('../fonts/ofont.ru_gilroy_extrabold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'gilroylight';
    src: url('../fonts/ofont.ru_gilroy_light-webfont.woff2') format('woff2'),
         url('../fonts/ofont.ru_gilroy_light-webfont.woff');
    font-weight: 300;
    font-style: normal;
}
html{
  box-sizing: border-box;
}
*, *::before, *::after{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
  background-color: #ffffff;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.hide_it{
  display: none;
}
.visibility_hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;

}
.container{
  width: 1200px;
  padding: 0px 20px;
  margin: 0px auto;
}

.main_header{
  width: 100%;
  min-height: 299px;
  padding: 0px 60px;
  background-color:rgba(240, 197, 46, 0.5);
}
.catalog_page .main_header{
    min-height: 186px;
}
.main_header_logo,
.main_footer_logo{
  font-family: 'gilroyextrabold';
  font-size: 50px;
  text-transform: uppercase;
  color:#000000;
  display: block;
  padding-top: 20px;
  padding-bottom: 37px;
  margin-top: 5px; /*подбор PP, в макете верхний отступ 20px*/
  margin-left: 57px; /*подбор PP, в макете 59-60*/
}
.site_navigation a,
.services_navigation a{ /*свойства общие для заголовков меню верхнего уровня*/
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 3.6px;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}
.site_navigation_submenu a,/*свойтва общие для большинства ссылок*/
.auth_navigation a,
.user_actions_navigation a{
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.15px;
  text-align: left;
  text-transform: none;
  color: #000000;
}

.vr_link a, /*уникальные свойства для заголовков меню нижнего уровня*/
.bracelet_link a,
.drone_link a,
.monopod_link a,
.watch_link a,
.camera_link a{
  line-height: 36px;
}
.slider{
  min-width: 100%;
  min-height: 500px;
  padding-left: 90px;
  padding-right: 60px;
  background-image: url(../img/slider-1-png.jpg);
  -webkit-background-size: contain;
  background-size: contain;
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-position: left;
}
.slider>input{
  display: none;
}
.slider_content{
  position: relative;
  margin-left: 500px;
}
.slider_content .slogan{
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 700;
  letter-spacing: 0.47px;
  text-align: left;
  color: #000000;
  margin: 0;
}
.slider_content .description{
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.15px;
  text-align: left;
  color: #464646;
}
.slider_content .features td{
  font-family: 'gilroylight', Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: 0.36px;
  text-align: left;
  color: #000000;
  width: 140px;
}
.slider_content .features th{
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 0.13px;
  text-align: left;
  color: #464646;
}
.slider_controls{
  position: absolute;
  top:200px;
  right: 50px;
}
.slider_controls>label::before{
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  border: 1px solid #000000;
}
.delivery h2,
.warranty h2,
.credit h2,
.info h2,
.contacts h2{
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: 0.47px;
  text-align: left;
  color: #000000;
  margin: 0;
}
/*.popular_items_list>li{
  width: 160px;
  height: 160px;
  background-color:rgba(240, 197, 46, 0.5);
}*/
.popular_items_list h3,
.feedback_form label{
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.18px;
  text-align: left;
  color: #000000;
}
/*.delivery p,   будут наследоваться от body
.warranty p,
.credit p,
.info p,
.contacts p{
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.15px;
  text-align: left;
  color: #464646;
}*/
.services{
  min-height: 388px;
  background-image: linear-gradient(to bottom, transparent 100px, #e5e5e5 100px);
  margin-bottom: 94px;
}
.delivery_companies li{
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.18px;
  text-align: left;
  color: #000000;
}
.services_navigation a,
.info a,
.contacts a{
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 3.6px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.services .services_navigation{
  border-right: 7px solid #000000;
}
.info a{
  display: block;
  height: 40px;
  width: 260px;
  line-height: 40px;
}
.main_footer{
  min-height: 323px;
  background-color: #464646;
}
.main_footer_logo{
  color: rgb(255, 198, 0);
  margin-left: 0px;
  margin-right: 660px;
  padding: 0;
}

.main_footer_navigation a{
  color:rgba(255, 255, 255, 0.7);
}
.footer_navigation a,
.footer_address,
.footer_call{
  color:#ffffff;
}
.feedback_form input[placeholder],
.feedback_form textarea[placeholder] {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  text-align: left;
  color: rgba(70, 70, 70, 0.4);
}
/*feedback popup*/
.popup_feedback{
  width: 960px;
  margin: auto;
  min-height: 553px;
  padding: 22px;
  box-shadow: 0px 10px 20px 0 rgba(4,6,6,0.2);
}
.feedback_form{
  width: 760px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#user_name_field,
#user_email_field{
  width: 360px;
  height: 50px;
  border: none;
  background-color: #f2f2f2;
  padding-left: 20px;
}
#user_message_field{
  width: 760px;
  border: none;
  background-color: #f2f2f2;
  padding: 20px;
}
.popup_map{
  width: 960px;
  height: 559px;
  box-shadow: 0px 10px 20px 0 rgba(4,6,6,0.2);
}
.popup_map img{
  width:100%;
}

/*Index - interactive links*/
.catalog_page .main_header_logo:hover{
  color:#666666;
}
.catalog_page .main_header_logo:focus{
  color:#b2b2b2;
}
.auth_navigation a:visited,
.user_actions_navigation a:visited,
.site_navigation a:visited{
  color:#000000;
}
.auth_navigation a:hover,
.user_actions_navigation a:hover,
.site_navigation a:hover{
  color:rgba(0, 0, 0, 0.6);
}
.auth_navigation a:focus,
.auth_navigation a:active,
.user_actions_navigation a:focus,
.user_actions_navigation a:active,
.site_navigation a:focus,
.site_navigation a:active{
  color:rgba(0, 0, 0, 0.3);
}
.popular_items_list h3:focus,
.popular_items_list h3:active{
  color:rgba(0, 0, 0, 0.3);
}
.info a{
}
.main_footer_navigation a:visited{
  color:rgba(255, 255, 255, 0.7);
}
.main_footer_navigation a:hover{
  color:#ffffff;
}
.main_footer_navigation a:focus,
.main_footer_navigation a:active{
  color:rgba(255, 255, 255, 0.3);
}
.footer_navigation a:hover{
  color:rgba(255, 255, 255, 0.6);
}
.footer_navigation a:focus,
.footer_navigation a:active{
  color:rgba(255, 255, 255, 0.3);
}
/*-------Catalog page-------*/
.path_navigation a{
  color: rgba(0, 0, 0, 0.3);
}

.filter{
  width: 468px;
  height: 1287px;
  background-color: #eeeeee;
  padding-left: 199px;
  padding-right: 67px;
}
.filter h2,
.catalog p,
.catalog_veiw_navigation .prev_page,
.catalog_veiw_navigation .next_page,
.catalog_veiw_pages a{
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}
.set_filter fieldset{
  border:none;
}
.set_filter legend,
.catalog_items h3{
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  text-align: left;
  color: #000000;
}
.sort_by a{
  color: rgba(0, 0, 0, 0.3);
}
.sort_by .active_status{
  color: rgb(0, 0, 0);
}
.item_price{
  font-family: 'gilroylight';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  text-align: right;
  color: #464646;
}
.item_to_cart{
  width: 200px;
  height: 40px;
  display: block;
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.item_to_compare{
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 36px;
  font-weight: 300;
  letter-spacing: 0.13px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}
.item_new{
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.7px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding-top:18px;
}
.catalog_veiw_pages a{
    color: rgba(0, 0, 0, 0.3);
}
.catalog_veiw_pages .active_page{
    color: rgb(0, 0, 0);
}


/*Catalog - interactive links*/
.path_navigation a:visited{
  color: rgba(0, 0, 0, 0.3);
}
.path_navigation a:hover{
  color: rgba(0, 0, 0, 0.6);
}
.path_navigation a:focus,
.path_navigation a:active{
  color: rgba(0, 0, 0, 0.1);
}
/*.sort_by a:visited{
  color: rgba(0, 0, 0, 0.3);
}*/
.sort_by a:hover{
  color: rgba(0, 0, 0, 0.6);
}
.sort_by a:focus,
.sort_by a:active{
  color: rgb(0, 0, 0);
}
.catalog_items .item_to_compare:visited{
  color: rgba(0, 0, 0, 0.5);
}
.catalog_items .item_to_compare:hover{
  color: rgb(0, 0, 0);
}
.catalog_items .item_to_compare:focus,
.catalog_items .item_to_compare:active{
  color: rgba(0, 0, 0, 0.2);
}

.catalog_veiw_pages a:visited{
    color: rgba(0, 0, 0, 0.3);
}
.catalog_veiw_pages a:hover{
    color: rgba(0, 0, 0, 0.6);
}
.catalog_veiw_pages a:focus,
.catalog_veiw_pages a:active{
    color: rgb(0, 0, 0);
}

.catalog_veiw_navigation .prev_page:focus,
.catalog_veiw_navigation .prev_page:active,
.catalog_veiw_navigation .next_page:focus,
.catalog_veiw_navigation .next_page:active{
  color: rgba(0, 0, 0, 0.3);
}

.catalog_page .main_footer_logo:hover{
  color: rgba(255, 198, 0, 0.6);
}
.catalog_page .main_footer_logo:focus,
.catalog_page .main_footer_logo:active{
  color: rgba(255, 198, 0, 0.3);
}


/*Flexbox*/
html,body{
  min-width: 1200px;
  min-height: 2795px;
}
.main_header{
  margin-top: -50px;
  /*margin-bottom: 480px;*/
  padding-top: 42px; /*по макету внутренний отступ 50px*/
}
.user_navigation{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 37px;
}
.user_navigation form{
  width:540px;
}
.auth_navigation{
  width: 280px;
  margin: 0;
}
.user_actions_navigation{
  width: 220px;
  margin: 0;
}
.user_actions_navigation>li{
    display: inline-block;
}

.site_navigation>ul{
  display: flex;
}
.site_navigation_catalog{
  width: 540px;
}
.site_navigation_delivery{
  width: 160px;
}
.site_navigation_warranty{
  width: 220px;
}
.site_navigation_contacts{
  width: 120px;
}
.popular_items_list{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 84px;
}
.popular_item{
  width: 160px;
  height: 90px;
}
.services_container{
  display: flex;
}
.services .sub_navigation{
  width: 285px;
}
.services .services_navigation{
  min-height: 319px;
  padding-top: 80px;
}
.services .delivery,
.services .warranty,
.services .credit{
  width: 875px;
  padding-top: 75px;
  padding-left: 117px;
  min-height: 319px;
}
.brands>ul{
  display: flex;
  justify-content: space-between;
  margin-bottom: 93px;
}
.info_container{
  display: flex;
  justify-content: space-between;
  min-height: 648px;
}
.info{
  width: 460px;
}
.contacts{
  width: 560px;
}
.main_footer .container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 65px;
}
.main_footer_navigation{
  width: 320px;
  display: flex;
  justify-content: flex-end;
}
.footer_navigation .services_navigation{
  display: flex;
  justify-content: space-between;
  min-width: 430px;

}
.footer_navigation{
  margin-top: 34px;
}
.footer_address{
  margin-top: 32px;
  margin-right: 170px;
  margin-left: 3px;
}
.footer_call{
  min-width: 350px;
  margin-top: 32px;
  margin-left: auto;
}
.footer_social>li{
  display: inline-block;
}
/*Decoration*/
.auth_navigation .login_link{
  padding-left: 27px;
  position: relative;
}
.auth_navigation .login_link::before{
  content: "";
  width: 13px;
  height: 12px;
  position: absolute;
  top:9px;
  left:0px;
  background-image: url(../img/user.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
